<h1>Current League Table</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Played</th>
    <th>Games Won</th>
    <th>Games Drawn</th>
    <th>Games Lost</th>
    <th>Goal Difference</th>
    <th>Points</th>
  </tr>
  <% for team in @teams  %>
  <tr>
    <td><a href="/teams/<%= team.id  %>"><%= team.name %></a></td>
    <td><%= team.games_played %></a></td>
    <td><%= team.calculate_victories %></a></td>
    <td><%= team.calculate_draws %></a></td>
    <td><%= team.calculate_losses %></a></td>
    <td><%= team.calculate_team_goal_difference %></a></td>
    <td><%= team.calculate_team_points %></a></td>
  </tr>
  <% end  %>
</table>

<hr>
