<p>Team Name: <%= @team.name  %></p>
<p>Team Transfer Funds: <%= @team.transfer_funds %></p>

<form action="/teams/<%= @team.id %>/delete" method="post">
  <input type="submit" name="Delete" value="Delete Team">
</form>

<form action="/teams/<%= @team.id %>/edit" method="get"> <input type="submit" name="Edit" value="Edit Team">
</form>

<hr>

<% for game in @games  %>
<p><%= game.get_home_team_name%> <%= game.home_team_score  %></p>
<p><%= game.get_away_team_name%> <%= game.away_team_score  %></p>

<p><%= game.display_who_won  %></p>

<hr>

<% end %>
