<h1>List of Current Superstars</h1>

<p>Click on a player's last name to see more details</p>
<div class="table-container">
<table>
  <tr class="superstars">
    <th>Last Name</th>
    <th>First Name</th>
    <th>Position</th>
    <th>Team</th>
    <th>Value</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><a href="/players/<%= player.id  %>" style="text-decoration: none"><%= player.last_name %></a></td>
    <td><%= player.first_name %></a></td>
    <td><%= player.position %></a></td>
    <td><%= player.get_player_team_name %></a></td>
    <td><%= player.transfer_value %></a></td>

  </tr>
  <% end  %>
</table>
</div>

  <ul>
    <li><a href="/players/new" style="text-decoration: none" class="button">Add a New Superstar</a></li>
  </ul>

<hr>
