<h1>List of Current Superstars</h1>

<table>
  <tr class="superstars">
    <th>Last Name</th>
    <th>First Name</th>
    <th>Position</th>
    <th>Team</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><a href="/players/<%= player.id  %>"><%= player.last_name %></a></td>
    <td><%= player.first_name %></a></td>
    <td><%= player.position %></a></td>
    <td><%= player.get_player_team_name %></a></td>

  </tr>
  <% end  %>
</table>

<hr>
